
#feedback {
    margin-top: 50px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
    color: rgb(5, 157, 168);
    padding: 15px;
    font-size: 40px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-weight: 500;  
}

.fb {
    background-color: #9cc955;
    margin: 15px;
    padding: 15px;
    border-radius: 15px 60px;
    height: 310px;
}

.fb-contain {
    display: flex;
}

.ava {
    margin-left: 120px;
    border-radius: 100px;
    width: 150px;
    height: 160px;

}

.ava:hover {
    transform: scale(1.25);
    transition: ease-in-out 0.5s;
}

h3 {
    text-align: center;
    font-weight: 1000;
    margin-bottom: 16px;
}
